
/*
Free Bootstrap Themes : http://www.html5xcss3.com
*/

/* ==== Google font ==== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,600i,700,700i,800,800i,900');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700');
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
body {font-family: 'Montserrat', sans-serif;font-weight: 300;color: #666;background-color: #fff;font-size: 15px;line-height: 24px;}
html, body {width:100%; padding:0; margin:0;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

h1 {font-size: 38px;}
h2 {font-size: 36px;}
h3 {font-size: 32px;}
h4 {font-size: 28px;}
h5 {font-size: 24px;}
h6 {font-size: 20px;}

h1,h2,h3,h4,h5,h6 {font-weight: 700;color: #111;font-family: 'Raleway',sans-serif;line-height: 1.1;}

p {margin: 0 0 20px;}

a {color: #fff;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
a:hover,
a:focus {text-decoration: none;color:#65C5AA;}

button {border: none;outline: 0;}
ul li{list-style: none;}
input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"], input[type="search"], textarea, .form-control, select {
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #999999;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
	height: 43px;
    margin: 10px 0;
    outline: medium none;
    padding: 10px;
    transition: border-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
    width: 100%;
	background-color: transparent;
    border: 2px solid #666;
}

.post{}
.post:after, .post:before, article:after, article:before, section:after, section:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

/* --Line-- */
hr.line { margin: 15px auto; padding: 0; max-width: 90px;border: 0; border-top: solid 5px #ddd;text-align: center;}

/* --Page-- */
body.index-page {}
body.sub-page {}
body.sub-page header.main-header{min-height: 100px;}
body.sub-page .header-text {padding: 70px 0;}
body.sub-page .header-text img{max-height: 200px;margin:auto;}
body.sub-page footer{border-top: 1px solid #ccc;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------Header-Styles-------------------------------- */
/* ---------------------------------------------------------------------------- */
header.main-header{
  background-size: cover;
  background-image: url(../images/showcase_bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% top;
  min-height: 100vh;
  position: relative;
}
header.main-header:before{
  background-color: rgba(25,41,52, 0.85);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  content: "";
}

header.main-header:after{
  background-color: rgba(25,41,52, 0.85);
  background: -webkit-linear-gradient(rgba(25,41,52, 0.85), rgba(25,41,52, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(25,41,52, 0.85), rgba(25,41,52, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(25,41,52, 0.85), rgba(25,41,52, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(25,41,52, 0.85), rgba(25,41,52, 1)); /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: absolute;

  content: "";
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

/* Header Styles */
.header-text {position: relative; z-index: 1;}
.header-text img{max-height: 300px;margin: 18vw auto 0}



/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */
#page-content{}

/* ---HomePage--- */
.box-content {overflow: hidden}
.box-content .heading{margin-bottom: 50px; text-align: center;}
.box-content .heading h2{ font-weight: 300;font-size: 28px;}
.box-content .heading.bold h2{ font-weight: 800;font-size: 40px;letter-spacing: 2px;}
.box-content .heading.light h2{color: #fff;}
.box-content .heading.dark h2{color: #2b2d3f;}

.box-content.box-style-0{background-image: url(../images/pattern-white.png); background-color: #fff;}
.box-content.box-style-1{
  background: url(../images/pattern-orange.svg) center center;
  background-size: cover;
  background-color: #fff;
 }
 .box-content.box-style-4{
   background: url(../images/pattern-blue.svg) center center;
   background-size: cover;
  }
.box-content.box-style-2{background-image: url(../images/home-6.png);background-position: 80% top;background-repeat: no-repeat;background-color: #F8F9F1;}
.box-content.box-style-3{background: url(../images/ep_naturalblack.png) fixed center center;color:#fff;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Box 1---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-1 {padding: 100px 0;}
.box-content.box-1 .box-item h3{color: #1a1c1e; font-size: 23px;line-height: 1.1;text-transform: uppercase;}
.wrap-icon{padding-bottom: 10px;display: block;}

@media(min-width:768px){
	.box-content.box-1 .box-item.fix-padding{padding-top: 200px}
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Box 2---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-2 {position: relative;}


/* ---------------------------------------------------------------------------- */
/* -------------------------------------Box 3---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-3 {padding: 0;}
.box-content.box-3 h3{color: #FFB619; margin-bottom: 5px;font-weight: 500;}
.box-content.box-3 span{font-weight: bold;font-size: 20px;line-height: 2;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Box 5---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-5 {padding: 100px 0;text-align: center;}
.box-content.box-5 textarea{height: 150px;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Box 4---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-4 {padding: 100px 0;}
.box-content.box-4 .box-item{border: 1px solid #ccc;transition: all .3s ease-in-out;}
.box-content.box-4 .box-item .box-item-inner{padding: 15px 25px;background: transparent;}
.box-content.box-4 .box-item .box-item-inner ul{padding: 0;margin-bottom: 20px;}
.box-content.box-4 .box-item h3{font-size:20px;text-transform:uppercase;margin-bottom: 20px;font-weight: 800;}
.box-content.box-4 .box-item:nth-child(n+2) {border-left: none;}
.box-content.box-4 .box-item:nth-child(n+4) {border-top: none;}
.box-content.box-4 .box-item:nth-child(3n+1){border-left: 1px solid #ccc;}
.box-content.box-4 .box-item:hover{
	position: relative;
    z-index: 2;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
	background: #000;
	border: 1px solid #000;
	color: #999;
}
.box-content.box-4 .box-item:hover h3{color: #fff;}
.box-content.box-4 .box-item:hover .gradient-link{background: linear-gradient(to left, #ee0979, #ff6a00);background: -webkit-linear-gradient(to left, #ee0979, #ff6a00);-webkit-background-clip: text;-webkit-text-fill-color: transparent;text-decoration: underline}

.gradient-link{font-weight: bold;color: #111;text-decoration: underline}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Box 6---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-6 {padding: 0;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Box 7---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-7 {}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Footer---------------------------------- */
/* ---------------------------------------------------------------------------- */
footer{color: #888;background-color:#181819;}
footer ul {padding: 0;}
footer ul li{list-style: none;}
footer a {color: #888;}
footer a:hover {color: #65C5AA;}



footer .wrap-footer{padding:50px 0 30px;}
footer .col-footer{margin: 10px 0 30px;}
footer .footer-1{}
footer .footer-1 ul.footer-social{font-size: 20px;margin: 0;}
footer .footer-1 ul.footer-social li{height: 38px; width: 38px; text-align: center;}
footer .footer-1 ul.footer-social a i{font-size: 15px;color: #fff;line-height: 2.1;height: 30px; width: 30px;border-radius: 3px;background-color: #2B2D3F;}
footer .footer-1 ul.footer-social a i:hover{background-color:#fff;color: #2B2D3F;}

footer .footer-2{}
footer .footer-2 li{border-bottom: 1px solid rgba(255, 255, 255, 0.1);font-size: 13px;margin-bottom: 0;padding: 12px 0;}
footer .footer-2 li:first-child{padding-top: 0;}

footer .footer-2 li p {letter-spacing:1px;margin-bottom: 0;}

footer .footer-3 img{margin-bottom: 20px;}

footer .footer-4{}
footer .footer-4 a{ border: 1px solid #888; padding: 2px 10px;line-height: 2.2;font-size: 14px;text-transform: capitalize;}
footer .footer-4 a:hover{color: #65C5AA;text-decoration: none;}


footer .footer-title {display: block;font-weight: bold;letter-spacing: 1px;margin-bottom: 20px;position: relative;text-transform: uppercase;font-size: 16px;color: #fff;}

footer .copyright{padding: 15px 0;}
footer .bottom-footer{background-color:#000;}
footer .bottom-footer span{color: #888!important;margin: 0;line-height: 1;}
footer .bottom-footer ul{list-style:none;margin:0;padding:0;line-height:1.5}
footer .bottom-footer .link{margin-top: 10px;}

@media(max-width:767px){
	footer .bottom-footer .copyright{text-align:center;padding-bottom:18px}
	footer .bottom-footer .link{padding-top:0;padding-bottom:24px;text-align:center}
}

/* ---------------------------------------------------------------------------- */
/* --------------------------------Entry-box----------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-entry {color: #3F3F3F; margin: 0 auto 30px;border-bottom: 4px solid #eee;border-right: 1px solid #fff;max-width: 450px;}
.box-entry h3{margin: 0;margin-bottom: 30px;font-size: 19px;font-weight: 700;text-transform: uppercase;line-height: 1.4;}
.box-entry img{border: none; width: 100%;}
.box-entry div{padding: 0;}
.box-entry .entry-details{padding: 0 30px}
.box-entry .entry-details p{line-height: 1.2;}

.box-entry .entry-meta {font-size: 12px !important;letter-spacing: 0.25px;margin: 0 0 15px;padding: 10px 0;position: relative;text-transform: uppercase;border-bottom: 1px solid #ddd;color: #999;}
.box-entry .entry-meta a{color: #999;}
.box-entry .entry-des {margin: 0 0 15px;padding: 0 0 15px;}
.box-entry .entry-des span{color: #ec495e;font-weight: bold;}
.box-entry .entry-des h3{margin: 0;max-height: 70px;min-height: 68px;text-transform: uppercase;}
.entry-thumb {position: relative;}
.entry-thumb:after {content: "";position: absolute;top: 0px;left: 0px;width: 0%;height: 100%;background-color: rgba(255,255,255,0.4);-webkit-transition: none;-moz-transition: none;-ms-transition: none;-o-transition: none;transition: none;}
.entry-thumb:hover:after {width: 120%;background-color: rgba(255,255,255,0);-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.box-entry:hover{border-bottom: 4px solid #ec495e;}
@media only screen and (max-width: 767px) {.box-entry{text-align: center;}}


/* ---------------------------------------------------------------------------- */
/* ------------------------------Portfolio Box--------------------------------- */
/* ---------------------------------------------------------------------------- */
.portfolio-box {display: block;position: relative;margin: auto;overflow: hidden;max-width: 400px}
.portfolio-box:before{z-index:1;content:"";position:absolute;left:10px;right:10px;top:10px;bottom:10px;border-top:1px solid #65C5AA;border-bottom:1px solid #65C5AA;transform:scale(1,1);-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transition:all 0.4s ease-in-out 0s;-moz-transition:all 0.4s ease-in-out 0s;-webkit-transition:all 0.4s ease-in-out 0s;}
.portfolio-box:after{z-index:1;content:"";position:absolute;left:10px;right:10px;top:10px;bottom:10px;border-left:1px solid #65C5AA;border-right:1px solid #65C5AA;transform:scale(1,1);-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transition:all 0.4s ease-in-out 0s;-moz-transition:all 0.4s ease-in-out 0s;-webkit-transition:all 0.4s ease-in-out 0s;}
.portfolio-box:hover:before{transform:scale(0,1);-moz-transform:scale(0,1);-webkit-transform:scale(0,1);-ms-transform:scale(0,1)}
.portfolio-box:hover:after {transform:scale(1,0);-moz-transform:scale(1,0);-webkit-transform:scale(1,0);-ms-transform:scale(1,0)}

/****** Zoom Effect ******/
.portfolio-box.zoom-effect .portfolio-box-caption{background: rgba(0, 0, 0,.3);}
.portfolio-box.zoom-effect img{-webkit-transition: 0.5s ease;transition: 0.5s ease;}
.portfolio-box:hover.zoom-effect img{-webkit-transform:scale(1.1); /* Safari and Chrome */-moz-transform:scale(1.1); /* Firefox */-ms-transform:scale(1.1); /* IE 9 */-o-transform:scale(1.1); /* Opera */transform:scale(1.1);}


.portfolio-box .portfolio-box-caption {display: block;position: absolute;bottom: 0;width: 100%;height: 100%;text-align: center;color: #fff;-webkit-transition: all .35s;-moz-transition: all .35s;transition: all .35s;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {position: absolute;top: 50%;width: 100%;text-align: center;transform: translateY(-50%);}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {padding: 0 15px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px;text-shadow: 2px 2px #111;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {font-size: 13px;color: #65C5AA;margin-bottom: 10px;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {font-size: 16px;margin-bottom: 3px;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social{transition: all 1s ease;opacity: 0; height: 0;overflow: hidden;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social i.fa{font-size: 25px;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social ul li{margin: 20px 5px 0;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social ul li a{display: block;width: 48px;height: 48px;color: #65C5AA;background: #fff;transition-duration: 0.3s;padding-top: 12px;border-radius: 50%;text-shadow: none;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social ul li a:hover{color: #fff;background-color: #65C5AA;}

.portfolio-box:hover .portfolio-box-caption {opacity: 1;background: none;}
.portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-social{opacity: 1;height: auto;}
.portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-name
{display: none;}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 15px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 19px;
    }
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------Hexagon------------------------------------ */
/* ---------------------------------------------------------------------------- */
.hexagon {position: relative;width: 120px; height: 69.28px;background-color: #ffffff;margin: 34.64px 0;box-shadow: 0 0 7px rgba(0,0,0,0.5);}
.hexagon .hexagon-inner {display: block;position: absolute;bottom: 0;width: 100%;height: 100%;text-align: center;z-index: 999;}
.hexagon .hexagon-inner .hexagon-inner-content {position: absolute;top: 50%;width: 100%;text-align: center;transform: translateY(-50%);}

.hexagon:before,
.hexagon:after {content: "";position: absolute;z-index: 1;width: 84.85px;height: 84.85px;-webkit-transform: scaleY(0.5774) rotate(-45deg);-ms-transform: scaleY(0.5774) rotate(-45deg);transform: scaleY(0.5774) rotate(-45deg);background-color: inherit;left: 17.5736px;box-shadow: 0 0 7px rgba(0,0,0,0.5);}

.hexagon:before {top: -42.4264px;}

.hexagon:after {bottom: -42.4264px;}

/*cover up extra shadows*/
.hexagon span {display: block;position: absolute;top: 0;left: 0;width: 120px;height: 69.2820px;z-index: 2;background: #fff;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Button---------------------------------- */
/* ---------------------------------------------------------------------------- */
.btn {
	border-radius: 0;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.btn:focus,
.btn.active,
.btn:active {
    background-image: none;
    box-shadow: none;
    outline: 0 none;
}

.btn-skin {padding: 9px 24px;color: #fff;background-color: #65C5AA;min-width: 110px;margin: 10px 0;height: 43px;}
.btn-skin i.fa{padding-left: 5px;}
.btn-skin:hover, .btn-skin:focus {color: #fff;background-color: #444;}



/* ---------------------------------------------------------------------------- */
/* -----------------------------Overview-aside-nav----------------------------- */
/* ---------------------------------------------------------------------------- */
#overview-aside-nav {position: fixed;top: 50%;right: 6px;margin-top: -11.6875em;-webkit-user-select: none;-moz-user-select: none;user-select: none;z-index:999;}
#overview-aside-nav ul {list-style: none;display: block}
#overview-aside-nav ul li {position: relative;width: 20px;height: 8px;padding: 7px;margin-bottom: 5px;cursor: pointer;-webkit-transition: all 0.1s ease;-moz-transition: all 0.1s ease;-o-transition: all 0.1s ease;transition: all 0.1s ease}
#overview-aside-nav ul li div {width: 8px;height: 8px;overflow: hidden;margin-left: auto;background: #C8C8C8;-webkit-border-radius: 8px;-moz-border-radius: 8px;-ms-border-radius: 8px;-o-border-radius: 8px;border-radius: 8px;-webkit-transition: all 0.1s ease;-moz-transition: all 0.1s ease;-o-transition: all 0.1s ease;transition: all 0.1s ease;box-shadow: inset 0 0 1px #777}
#overview-aside-nav ul li b {display: none;position: absolute;top: 50%;margin-top: -6px;right: 24px;white-space: nowrap;font-size: 12px;color: #65C5AA;font-weight: 600;}
#overview-aside-nav ul li:hover b {display: block !important;-webkit-animation: fadein 0.3s ease-out;-moz-animation: fadein 0.3s ease-out;-ms-animation: fadein 0.3s ease-out;-o-animation: fadein 0.3s ease-out;animation: fadein 0.3s ease-out}
#overview-aside-nav ul li:hover div {background: #65C5AA}
#overview-aside-nav ul li.on {height: 30px !important}
#overview-aside-nav ul li.on div {background: #65C5AA;height: 30px !important}

#b2top {position: fixed;right: 10px;bottom: 20px;border: 2px solid #65C5AA;padding: 10px;cursor: pointer;z-index:999;}


/* ---------------------------------------------------------------------------- */
/* -----------------------------------Success---------------------------------- */
/* ---------------------------------------------------------------------------- */
.success{height: 500px;width: 100%;text-transform: uppercase;}
.success-insite {position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.success span.fail{font-size: 50px; color: red;display: block;line-height: 55px;}
.success span.success{font-size: 50px; color: blue;display: block;line-height: 55px;}
.success .btn-skin{margin-top: 50px}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------Carousel---------------------------------- */
/* ---------------------------------------------------------------------------- */
.owl-carousel{height: 100%;width: 100%;}


.owl-carousel:hover .owl-buttons div {color:#fff;}
.owl-controls .owl-prev {}
.owl-controls .owl-next {}
.owl-controls .btn i.fa {font-size: 32px;margin: 0 10px 0;background: linear-gradient(to left, #ee0979, #ff6a00);background: -webkit-linear-gradient(to left, #ee0979, #ff6a00);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.owl-carousel .item{width: 100%;height: 100%;}
.owl-carousel .owl-wrapper-outer,
.owl-carousel .owl-wrapper,
.owl-item{height: 100%;}



.no-gutter::after, .no-gutter::before {content: " ";display: table;}
.no-gutter::after {clear: both;}
.no-gutter{margin: 0 !important;}
.no-gutter > [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}


.box-text{padding: 70px 50px 30px;}
.box-text .title {margin-bottom: 10px;font-family: 'Raleway', sans-serif;}
.box-text .title h3{font-size: 57px; font-weight:800;color: #000;text-transform: uppercase;}
.box-text .title span{font-size: 24px; font-weight:800;color: #000;text-transform: uppercase;margin: 40px 0 20px;display: block;}

.box-text .content{margin: 20px 0;}
.box-text .speed-inf{margin: 70px 0 120px;font-family: 'Raleway', sans-serif;}
.box-text .speed-inf strong{display: block; font-size: 55px; color: #000;line-height: 47px;}
.box-text .speed-inf p{margin: 0;font-weight: 700;font-size: 14px;color: #444;}

.flex-box  .box-image {background-repeat: no-repeat;background-position: center center;background-size: cover;display: block;z-index: 1;width: 100%;height: 100%;}
.flex-box .f-right{order: 2;}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.box-text{padding: 60px;}
}

@media(min-width:768px){
	.flex-box {
	  flex-direction: row;
	  -webkit-flex-direction: row;
	  display: flex;
	  display: -webkit-flex;
	}
	.box-text.text-right{text-align: right;}
	.box-text.text-right .content:before,
	.box-text.text-right .content:after{right: 0;}
}
@media(max-width:767px){
	.box-text{text-align: center;}
	.box-text .content:before,
	.box-text .content:after{right: 47%;}
	.flex-box  .box-image {height: 430px;width: 100%;}
}



.landingLogo {
  width: 30vw;
}
