
#benefits
  padding-top 4rem
  .benefit-section
    justify-items center
    text-align center
    margin-top 3rem
  .benefits-img
    height 250px
    display flex
    align-items flex-end
    text-align center
    img
      display flex
      margin auto

// put a little space under the video in mobile
@media screen and (max-width: 760px)
  iframe
    margin-bottom 3rem
