
#bottom
  margin-top 4rem
  font-size $body-font-size
  padding 2rem 0 4rem 0

  .bottom-link-outer
    line-height 2rem
    display flex
    flex-direction column
    padding 1rem
    a
      flex 1
      color #949494

      &:hover
        color #4A93FF
        text-decoration underline

  .bottom-link-title
    ui-fonts()
    font-weight bold

  #mc-embedded-subscribe-form
    display flex
    margin-bottom 2rem
    height 40px

  #mce-email
  #mc-embedded-subscribe
    appearance none
    box-sizing border-box
    display inline-block
    height 40px
    padding 0 $m-spacing
    margin 0
    outline none

  #mce-email
    background-color #F6F5F9
    border none
    color #949494
    border-top-left-radius 3px
    border-bottom-left-radius 3px
    transition box-shadow 0.3s
    &:focus
      box-shadow inset 0 0 3px #4A93FF

  #mc-embedded-subscribe
    background-color #FFFFFF
    color #262626
    border 1px solid #E0E0E0
    border-top-right-radius 3px
    border-bottom-right-radius 3px
    line-height 40px

.footer-logo
  margin-bottom 2rem

@media screen and (min-width: 1020px)
  #mc-embedded-subscribe-form
    margin-top 120px

@media screen and (max-width: 400px)
  #bottom
    padding 1rem

  .bottom-link-outer
    line-height 1rem

  #mce-email
  #mc-embedded-subscribe
    max-width 60%
