
#gs-description
  margin 200px 0 100px 0  
  p
  ui-fonts()
  h1
    margin-bottom 100px
    color:  rgb(89, 56, 223)
    z-index 200

#gs-background-left
  width 250px

#gs-background-right
  right 0px
  width 290px

.gs-floating-image
  position absolute
  z-index 100
  top 100px

#description-title
  z-index 200

#description-ctn
  background-color rgb(89, 56, 223)
  padding $l-spacing
  border-radius $small-border-radius 
  z-index 200 
  p
    color white
    margin 0
    font-style italic
    font-weight: lighter
    font-size $body-medium-font-size
  b
    font-style: normal
    // font-size $base-font-size
    font-size $body-medium-font-size