.gs-std-section
  margin 0 0 80px 0
  p
  ui-fonts()
  line-height 1.85
  color #75727c
  h2
    color #403656
    z-index 200
  h4
    color rgb(131, 93, 212)
    margin-bottom 0
  
.std-img-ctn
  margin-top $l-spacing
  img 
    width 100%

.std-iframe-stn
  margin-top $l-spacing
  iframe 
    width 100%
    min-height 350px

.step-ctn
  margin $xxl-spacing 0 $xl-spacing 0
  p
    margin-top 0
    font-style: italic