
//
// introducing bounties.network
// changing the way we collaborate
//

#intro
  position relative
  headings()

// top left hex icon with background
#intro-top-left-hexagon
  display none
  position absolute
  top 1.6rem
  left -40px
  width 150px
  height 150px

// top left light purple glow
#intro-top-left-purple-light
  display none
  position absolute
  top 3.7rem
  left 40px
  width 200px
  height 200px

// desktop version hexagons and bees to the right
#intro-hexagons-right
  position absolute
  right 0
  z-index 100

// "Changing the way we collaborate."
#intro-description
  margin-top 8rem
  flex 0.4
  justify-self flex-start
  margin-right auto
  text-align left
  z-index 200
  flex-direction column
  p
    font-size 1.2rem
    margin-bottom 3rem
    color #403656
  .btn
    display inline-block
    margin $spacing-medium
    flex 1

@media screen and (max-width: 1199px)
  #intro-hexagons-right
    top 20%
    width 600px

@media screen and (max-width: 1122px)
  #intro-description
    flex 0.5

  #intro-hexagons-right
    // top 20%
    height 700px

@media screen and (max-width: 1020px)
  #intro-hexagons-right
    // top 28%
    // width 380px
    height 600px

@media screen and (max-width: 760px)
  #intro-description
    flex 0.7
    justify-self center
    margin-left auto
    margin-right auto
    text-align center

  #intro-hexagons-right
    display none

  #intro-top-left-hexagon
  #intro-top-left-purple-light
    display block

