
#partnerships
  background-color #F6F5F9
  #partnerships-title
    display flex

// push the heading down in desktop mode
@media screen and (min-width: 760px)
  #partnerships-title
    padding-top 300px
/*
@media screen and (max-width: 760px)
  #partnerships-title
    padding-top 3rem
  .row > div
    flex-basis 80%
    max-width 80%

*/
