
//
// top menu, links, and hamburger
//

#top-menu-outer
  ui-fonts()
  border-bottom 1px solid $color-sep
  margin-top $spacing-medium

#top-menu-logo
  display block
  margin $spacing-medium 1rem

#top-menu-links
  margin-right 3rem
  a
    display inline-block
    color rgb(168, 168, 168)
    text-decoration none
    border-color transparent
    border-style solid
    border-width 0 0 4px 0
    padding $spacing-large $spacing-small
    margin-left $spacing-large
    font-size 85%
    &.active
      color $color-link
      border-color #4a93ff

#top-menu-toggler
#top-menu-checkbox
#top-menu-arrow
  display none

#top-links-outer
  justify-items center

#top-menu-toggler
  cursor pointer
  margin-right 3rem
  color $color-link
  .line
    height 1px
    border-bottom 2px solid $color-link
    margin-bottom 2px
    width 19px

#top-menu-arrow
  border-bottom 2px solid $color-link

// mobile mode expanding-collapsing hamburger
@media screen and (max-width: 760px)
  #top-links-row
    align-items center

  #top-menu-toggler
    display flex
    align-self flex-end
    margin-bottom $spacing-medium

  #top-menu-links
    margin-right 1rem
    height 0px
    opacity 0
    overflow hidden
    transition all 0.3s
    a
      border none

  #top-menu-checkbox:checked + div
    display flex
    height 260px
    opacity 1
    flex-direction column

  #top-menu-checkbox:checked ~ label
    #top-menu-hamburger
      display none
    #top-menu-arrow
      display flex
