<!doctype html>
<html lang="en">
<head>
  <% if (prd === true) { %>
    <script>
  		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  		  ga('create', 'UA-105302880-1', 'auto');
  		  ga('require', 'GTM-KWP35W2');
  		  ga('send', 'pageview');
  		</script>
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us16.list-manage.com","uuid":"03351ad14a86e9637146ada2a","lid":"96ba00fd12","uniqueMethods":true}) })</script>
  		<style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-KWP35W2':true});</script>

  		<!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MHNXT35');</script>
  <!-- End Google Tag Manager -->

  <% } %>
  <meta charset="utf-8">
  <title>The Bounties Network</title>



  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Find freelancers and bounty programs for any task paid in any token on Ethereum. Outsource the completion of any task from translations to social impact with a global freelance workforce.">

  <meta name="twitter:card" value="summary">
  <meta name="twitter:site" content="@ethbounties">
  <meta name="twitter:title" content="The Bounties Network: Open #Bounties & Freelance Jobs Online">
  <meta name="twitter:description" content="Find #freelancers and bounty programs for any task paid in ETH or ERC20 tokens. Outsource the completion of any task from translations to social impact with a global freelance workforce. #BugBounties #Blockchain">
  <meta name="twitter:creator" content="@ethbounties">
  <meta name="twitter:image:src" content="https://bounties.network/img/link-image_twitter.jpg">

  <meta property="og:title" content="The Bounties Network: Open #Bounties & Freelance Jobs Online" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://bounties.network/" />
  <meta property="og:image" content="https://bounties.network/img/link-image_fb.jpg" />
  <meta property="og:description" content="Find #freelancers and bounty programs for any task paid in ETH or ERC20 tokens. Outsource the completion of any task from translations to social impact with a global freelance workforce. #BugBounties #Blockchain" />

  <link rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./img/favicons/favicon-16x16.png">
  <link rel="manifest" href="./img/favicons/site.webmanifest">
  <link rel="mask-icon" href="./img/favicons/safari-pinned-tab.svg" color="#5a29c6">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="./styles/gettingStarted.css">
</head>
<body>

<% if (prd === true) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHNXT35"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>

<div id="top-menu-outer">
  <div class="page-container">
    <div id="top-links-row" class="row bottom-md middle-xs">
      <span class="col-xs-8">
        <a id="top-menu-logo" href="/">
          <img src="./img/header-logo.svg" alt="bounties.network">
        </a>
      </span>
      <label id="top-menu-toggler" for="top-menu-checkbox" class="col-xs-4">
        <div id="top-menu-hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </label>
      <div id="top-links-outer" class="col-xs-4">
        <input id="top-menu-checkbox" type="checkbox">
        <div id="top-menu-links" class="end-xs">
          <a href="index.html">About</a>
          <a href="https://explorer.bounties.network" target="_blank">Explorer</a>
          <a href="https://join.slack.com/t/bountiesnetwork/shared_invite/enQtMzA2Mjk3MzAzODQwLTZjN2UxMmU5MWYxZTVmMmM4OGNjZDRiMDgwYTVhOTIwYmQ4MjVlMjNkZjYzOTE4MWI4OTFhOWE4ZTUzN2MyNWY" target="_blank">Community</a>
          <a href="https://medium.com/bounties-network" target="_blank">Blog</a>
          <a href="#" class="active">Getting Started</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="gs-description">

  <img id="gs-background-left"
    class="gs-floating-image"
    src="./img/getting-started/getting-started_left.png"
    alt="">

  <div class="page-container">
    <div class="row center-xs">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="row center-xs">
            <div id="description-title" class="col-xs-12">
              <h1>Getting Started</h1>
            </div>
          </div>

          <div class="row start-xs">
            <div id="description-ctn" class="col-xs-12">
              <p><b>boun•ty</b></p>
              <p>/boun(t)e/</p><br>
              <p>(n.) A reward offered by an individual or organization, to accomplish a specific task.</p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <img id="gs-background-right"
    class="gs-floating-image"
    src="./img/getting-started/getting-started_right.png"
    alt="">

</div>

<div id="gs-what-is" class="gs-std-section">
  <div class="page-container">
    <div class="row center-xs">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="row start-xs">
          <div class="std-title col-xs-12">
              <h2>What is the Bounties Network?</h2>
            </div>
            <div class="std-ctn col-xs-12">
              <p>The Bounties Network makes it easy to outsource any task, 
                completed by top talent from anywhere in the world. Some 
                examples of tasks we’ve seen so far are: code, marketing 
                projects, social impact and everything in between. All 
                payments are safe & secure thanks to Ethereum, and freelancers 
                get paid as soon as the work they submit gets accepted. 
                Put up bounties paying in any token, 100% fee free.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="gs-why-lockup" class="gs-std-section">
  <div class="page-container">
    <div class="row center-xs">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="row start-xs">
          <div class="std-title col-xs-12">
            <h2>Why does MetaMask lock up?</h2>
          </div>

          <div class="std-ctn col-xs-12">
            <p>Access to the Bounties Network will get locked by MetaMask if you 
              have not used the network for a certain period of time. This happens 
              because MetaMask automatically locks your account if unattended for 
              some time. To unlock, simply click on the MetaMask extension and type 
              in your password.</p>
          </div>

          <div class="std-img-ctn col-xs-12">
            <img src="./img/getting-started/screenshot_004.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="bottom">
  <div class="page-container">
    <div class="row">
      <div class="col-xs-11 col-md-4">
        <img src="./img/footer-logo.svg" class="footer-logo" alt="Bounties Network Logo">
        <br>
        <br>
        <form
          id="mc-embedded-subscribe-form"
          method="POST"
          action="https://network.us16.list-manage.com/subscribe/post?u=03351ad14a86e9637146ada2a&amp;id=96ba00fd12"
          class="validate"
          target="_blank"
          novalidate>
          <input
            type="hidden"
            name="b_03351ad14a86e9637146ada2a_96ba00fd12"
            value="">
          <input
            id="mce-email"
            name="EMAIL"
            type="email"
            value=""
            placeholder="Your email"
            required>
          <input
          id="mc-embedded-subscribe"
          name="subscribe"
          type="submit"
          value="Sign up for updates">
        </form>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="row">
          <div class="col-xs-5 col-md-3 bottom-link-outer">
            <div class="bottom-link-title">
              COMPANY
            </div>
            <a href="#">About</a>
            <a href="https://medium.com/bounties-network">Blog</a>
            <a href="https://join.slack.com/t/bountiesnetwork/shared_invite/enQtMzA2Mjk3MzAzODQwLTZjN2UxMmU5MWYxZTVmMmM4OGNjZDRiMDgwYTVhOTIwYmQ4MjVlMjNkZjYzOTE4MWI4OTFhOWE4ZTUzN2MyNWY" target="_blank">Community</a>
            <a href="https://new.consensys.net/careers/?gh_jid=1216419" target="_blank">Careers</a>
          </div>
          <div class="col-xs-6 col-md-3 bottom-link-outer">
            <div class="bottom-link-title">
              PRODUCTS
            </div>
            <a href="https://explorer.bounties.network" target="_blank">Bounties Explorer</a>
            <a href="https://staking.network" target="_blank">Delphi arbitration</a>
            <a href="https://github.com/Bounties-Network/BountiesAPI" target="_blank">Bounties API</a>
          </div>
          <div class="col-xs-6 col-md-3 bottom-link-outer">
            <div class="bottom-link-title">
              CONTACT US
            </div>
            <a href="mailto:contact@bounties.network">contact@bounties.network</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./scripts/gettingStarted.js"></script>

<% if (dev === true) { %>
<script async id="__bs_script__" src="http://127.0.0.1:9924/browser-sync/browser-sync-client.js?v=2.23.6"></script>
<% } %>

</body>
</html>