
// https://flexboxgrid.com/
@require '../node_modules/flexboxgrid/dist/flexboxgrid.css'

//
// configuration
//

$color-background = #FFFFFF
$color-sep = rgb(224, 224, 224)
$color-link = #4a93ff

$spacing-small = 0.3rem
$spacing-medium = 0.6rem
$spacing-large = 1.2rem

//
// fonts
//

@font-face
  font-family poppins
  src url(/fonts/poppins-regular.ttf)

@font-face
  font-family inter-ui
  src url(/fonts/inter-ui-regular.woff2) format('woff2'),
     url(/fonts/inter-ui-regular.ttf) format('ttf'),
     url(/fonts/inter-ui-regular.otf) format('otf')

headings()
  h1
  h2
  h3
  h4
  h5
  h6
    font-family poppins
    color #403656
  h1
    font-size 3rem

ui-fonts()
  font-family inter-ui, 'Helvetica Neue', Helvetica, sans-serif
  color #403656

//
// global / tag level modifications
//

body
  background-color $color-background
  margin 0

img
  vertical-align middle

//
// components
//

@import 'theme/components/btn'

//
// content sections
//
@import 'theme/sections/top-menu'
@import 'theme/sections/intro'
@import 'theme/sections/building-blocks'
@import 'theme/sections/partnerships'
@import 'theme/sections/bottom'
